main {
  display: grid;
  grid-template-columns: calc(100% - 20rem) auto;
  grid-template-rows: auto;
  gap: 1rem;
  margin: 1rem;
}

@media (max-width: 767.98px) {
  main {
    padding: 1ch;
    display: flex;
    gap: 1ch;
    margin: 1rem 1ch;
    width: 100%;
  }

  nav {
    display: hidden;
    visibility: hidden;
    width: 0;
  }
}
