* {
  --color1: rgb(38, 70, 83);
  --background-color: rgb(38, 70, 83);
  --background-color-shift: rgb(68, 100, 113);
  --color-light: rgb(160, 226, 219);
  --color-pale: rgb(209, 224, 222);
  --color-dark: rgb(44, 57, 66);
  --color-text: rgb(245, 245, 245);

  --color2: rgb(42, 157, 143);
  --color3: rgb(233, 196, 106);
  --color4: rgb(244, 162, 97);
  --color5: rgb(231, 111, 81);
}

/* GENERAL */

body {
  margin: 0;
  padding: 0;
  font-family: "Nanum Myeongjo", serif;
  color: var(--color-text);
  font-size: 1.15rem;
  line-height: 1.75rem;
  /* background-color: gray; */
  background: linear-gradient(
    70deg,
    var(--background-color),
    var(--background-color-shift)
  );
}

b {
  font-weight: 900;
  color: var(--color3);
}


/* HEADER  */

header {
  font-family: "Nanum Myeongjo", serif;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
/*  padding: 15px 60px; */
  align-items: center;
  justify-content: space-between;
  /* position: absolute; */
  margin-bottom: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(22, 22, 22, 0.4);
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
}

header li {
  padding-right: 10px;
  padding-left: 10px;

  margin-left: 20px;
}

header li:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

header .active {
  background-color: rgb(255, 255, 255, 0.2);
}

header a {
  text-decoration: none;
}

header a:visited {
  color: var(--color4);
}

header a {
  color: var(--color4);
}


/* BODY */

article {
  margin: 1rem;
}

main {
margin: 0;
padding: 0;
width: 100%;
}



ul {
  list-style: disc;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

.bigtitle {
  margin: 2rem auto;
  box-sizing: border-box;
  font-size: 4rem;
  height: 4rem;
width: 90%;
}

h1,
h2 {
  font-family: "Aboreto", cursive;
  color: whitesmoke;
}
h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

a {
  color: lightblue;
}

a:active {
  color: violet;
}

a:visited {
  color: skyblue;
}

.centercolumn {
  display: flex;
  flex-direction: column;
}


button {
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

.trump-button {
  cursor: pointer;
}

.col3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 1rem;
  column-gap: 0.5rem;
}

.col2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  row-gap: 1rem;
  column-gap: 0.5rem;
}

.col {
  padding: 1rem 2rem 1rem 2rem;
}


.toc {
  position: sticky;
  top: 1rem;
}

.tocholder {
  border: 0;
}
.highlightbox {
  font-family: "Jost", sans-serif;
  display: block;
  width: 100%;
  background-color: var(--color-light);
  color: var(--color1);
  text-align: center;
  margin: 1rem 0 1rem 0;
}

.imagescale {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.collapsible {
  background-color: var(--background-color-shift);
  cursor: pointer;
  padding: 0 0 0 1rem;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  border: none;
  text-align: left;
  font-size: 1rem;
  font-family: "Jost", sans-serif;
  color: var(--color-text);
}

.active,
.collapsible:hover {
  background-color: var(--background-color-shift);
  /* color: var(--color-dark); */
}

.hiddencontent {
  padding: 0 1rem;
  display: none;
  overflow: hidden;
}

.showme {
  min-height: 2rem;
  min-width: 4rem;
  background-color: azure;
  border: 2px solid darkblue;
  border-radius: 5px;
  padding: 1ch;
  margin: 1ch;
}

.monsterblock {
  margin: 2rem;
  align-items: start;
  font-family: "Jost", sans-serif;
  background-color: var(--color-pale);
  color: var(--color-dark);
  font-size: 0.9rem;
  padding: 1ch;
  border-radius: 5px;
}

.monstername,
.itemname {
  font-family: "Nanum Myeongjo", serif;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.keywords {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.monsterblock b {
  color: var(--color5);
}

.monsterblock div {
  border: 0;
}

.whitebar {
  height: 3px;
  background-color: var(--color-pale);
}

.dividerbar {
  margin: 0;
  padding: 0;
  /* background-color: pink; */
  background-image: url(/assets/wedge.svg);
  background-size: cover;
  height: 5px;
}

.magicitem {
  margin: 2rem;
  align-items: start;
  font-family: "Jost", sans-serif;
  background-color: var(--color-pale);
  color: var(--color-dark);
  font-size: 0.9rem;
  padding: 1ch;
  border-radius: 5px;
}

.stretch {
  max-width: 90%;
  min-height: 4px;
  margin: 0 auto 0 auto;
  /* padding: 0; */
}

.compact {
  padding: 0 1rem 0 1rem;
  margin: 0;
  height: 1.5rem;
  justify-content: center;
}

.description {
  grid-column-end: span 3;
}
.statblock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 0.5rem;
  align-items: start;
  text-align: center;
  font-family: "Jost", sans-serif;
  background-color: var(--color-pale);
  color: var(--color-dark);
}

/* UTILITY */
.showme {
  min-height: 2rem;
  min-width: 4rem;
  background-color: azure;
  border: 2px solid darkblue;
  border-radius: 5px;
  padding: 1ch;
  margin: 1ch;
}

/* MOBILE */

.hamburger {
  /* visibility: hidden; */
  display: none;
  cursor: pointer;
}
.menuburger {
 height: 2.5rem;
  width: 2.5rem; 
/*  padding: 0.5ch; */
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* bottom: 0; */
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  visibility: hidden;
}


@media (max-width: 991.98px) {
  .bigtitle {
    /* margin: 1ch; */
    /* box-sizing: border-box; */
    font-size: 3rem;
    padding: 1ch 0 1ch 0;
  }

header {
gap: 1rem;
}

  header li {
    font-size: 1rem;
    padding-right: 4px;
    padding-left: 4px;

    margin-left: 5px;
  }
}

@media (max-width: 767.98px) {
  .bigtitle {
    /* display: flex; */
    margin: 0 auto;
    padding: 0;
    font-size: 1.5rem;
    height: auto;
    text-align: center;
    width: 90%
    /* justify-content: center; */
    /* overflow: auto; */
  }

  h1 {
    font-size: 1.5rem;
    padding: 1ch;
  }

  article {
    margin: 1ch;
    padding: 1ch;
  }
  header {
    height: 3rem;
    background-color: var(--background-color-shift);
    padding: 0;
    margin: 0;
    z-index: 10;
    position: sticky;
  }

  header ul {
    background-color: var(--color-dark);
    z-index: 15;
    display: flex;
    visibility: hidden;
    position: absolute;
    top: 3rem;
    left: 1ch;
    flex-direction: column;
    gap: 0;
  }

  header li {
    /* border: 1px solid yellow; */
    font-size: 2rem;
    padding: 1rem;
  }

  .col3,
  .col2 {
    display: block;
    flex-direction: row;
    gap: 1ch;
    padding: 1ch;
    margin: 1ch;
  }

  .col {
    margin: 0;
  }

  .hamburger {
    /* visibility: hidden; */
    display: block;
    cursor: pointer;
    height: 3rem;
  }

  .overlay {
    /* visibility: visible; */
    z-index: 5;
  }

  .article,
  .highlightbox,
  .magicitem,
  .monsterblock {
    padding: 1ch 1ch 1ch 1ch;
    width: 100%;
  }

  .collapsible {
    box-sizing: border-box;
  }
}
